{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Manage Employees</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-style.css') }}">


</head>
<body>

<header>
    <div class="logo">SLFD System - Admin Panel</div>
</header>

<div class="container">

    <h2>Employee Management</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Working Area</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>Ravi</td>
            <td>9876543210</td>
            <td>Rajiv Nagar</td>
            <td>Active</td>
        </tr>

        <tr>
            <td>Arun</td>
            <td>9876500011</td>
            <td>City Center</td>
            <td>Active</td>
        </tr>
    </table>

</div>

</body>
</html> {% endcomment %}
