<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-login.css') }}">
</head>
<body>

<header>
    <div class="logo">SLFD System - Admin</div>
</header>

<div class="login-container">
    <div class="login-box">
        <h2>Admin Login</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p class="error">{{ messages[0] }}</p>
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>