<!DOCTYPE html>
<html>
<head>
    <title>Employee Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
      <div style="text-align:right; margin-bottom:25px;">
    <a href="{{ url_for('admin_dashboard') }}">
        <button type="button">Back</button>
    </a>
</div>

<div class="container">
    <h1>Employee Management Dashboard</h1>

    <div class="card-container">
        <div class="card">
            <a href="{{ url_for('employee_register') }}">
                ➕ Employee Register
            </a>
        </div>

        <div class="card">
            <a href="{{ url_for('view_employees') }}">
                📋 View Employees
            </a>
        </div>
    </div>
</div>

</body>
</html>