<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-style.css') }}">

</head>
<body>

<header>
    <div class="logo">SLFD System - Admin Panel</div>
</header>

<div class="dashboard">

<div class="card">
    <h3>Total Complaints</h3>
    <p>{{ total_complaints }}</p>
</div>

<div class="card">
    <h3>Pending Complaints</h3>
    <p>{{ pending_complaints }}</p>
</div>

<div class="card">
    <h3>Resolved Complaints</h3>
    <p>{{ resolved_complaints }}</p>
</div>

<div class="card">
    <h3>Total Employees</h3>
    <p>{{ total_employees }}</p>
</div>

</div>

<div class="nav-links">

    <a href="{{ url_for('admin_employees') }}">Manage Employees</a> 
    <a href="{{ url_for('admin_complaints') }}">Manage Complaints</a> 


</div>

</body>
</html>
